In [1]:
%matplotlib inline

import numpy as np
import pandas as pd

# Timmermann et al 2014


# Data

Get DI Data from ``Spline.xlsx`` and resample it to Business Month End Frequency

The DataFrame will be T x N

In [8]:
DataBaseTable = pd.read_excel('Splines.xlsx',index_col=0)
DataBaseTable = DataBaseTable.resample('BM').last()
DataBaseTable = (DataBaseTable/100 + 1).apply(np.log) # Transform to logs
DataBaseTable.head()

,1,11,12,13,14,15,16,17,18,19,...,51,52,53,54,55,56,57,58,59,60
2007-03-30,0.112178,0.111870,0.111435,0.111114,0.110892,0.110724,0.110576,0.110430,0.110273,0.110099,...,0.109557,0.109537,0.109509,0.109477,0.109444,0.109414,0.109389,0.109373,0.109364,0.109362
2007-04-30,0.109243,0.107465,0.106872,0.106312,0.105808,0.105374,0.105003,0.104682,0.104398,0.104151,...,0.100716,0.100688,0.100661,0.100633,0.100606,0.100579,0.100553,0.100528,0.100503,0.100480
2007-05-31,0.107843,0.104212,0.103718,0.103256,0.102796,0.102334,0.101869,0.101408,0.100981,0.100624,...,0.096859,0.096837,0.096818,0.096797,0.096769,0.096730,0.096684,0.096637,0.096591,0.096547
2007-06-29,0.103756,0.102014,0.101751,0.101571,0.101426,0.101262,0.101039,0.100803,0.100629,0.100578,...,0.101648,0.101657,0.101653,0.101636,0.101608,0.101568,0.101516,0.101454,0.101381,0.101298
2007-07-31,0.100667,0.103359,0.103311,0.103307,0.103331,0.103371,0.103424,0.103494,0.103580,0.103691,...,0.104831,0.104809,0.104829,0.104896,0.104979,0.105038,0.105045,0.105020,0.104994,0.104986

In order to calculate returns and excess returns we use equations (2) and (3).

We consider only monthly data so h/12 in this case equals 1

In [ ]:
returns_t1 = DataBaseTable

DatetimeIndex(['2007-04-30', '2007-05-31', '2007-06-29', '2007-07-31',
               '2007-08-31', '2007-09-28', '2007-10-31', '2007-11-30',
               '2007-12-31', '2008-01-31',
               ...
               '2016-08-31', '2016-09-30', '2016-10-31', '2016-11-30',
               '2016-12-30', '2017-01-31', '2017-02-28', '2017-03-31',
               '2017-04-28', '2017-05-31'],
              dtype='datetime64[ns]', length=122, freq='BM')

## Factors

### Fama-Bliss (FB) Factor

$$fs_t^{(n,h)} = f_t^{(n-h/12,n)} - y_t^{(h/12)}(h/12) $$

The FB Spread is calculated as the forward rate, at time t, from n-h/12 (one unit of freqnecy) to n, minus the current yield for h/12, de-annualized.


Meaning its the difference from the last $h/12$ yield within a given maturity and the first $h/12$ yield.

### Cochrane-Piazzesi (CB) Factor